
:root {/*-- sets color variables --*/
  --dark: #020820;
  --dkblue: #030a59;
  --ltmid: #3780b0 ;
  --dkmid: #ff0015;
  --light: #e9eef5;
  --accent: #686868;
}
body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
  }
  /* General */
  .logo { font-weight: 500 !important;}
  .text-warning {  color: var(--dkmid) !important;}
  .text-muted { color: var(--accent) !important;}
  .text-success { color: var(--light) !important;}
  .text-light { color: var(--light) !important;}
  .text-dark { color: var(--dkblue) !important;}
  .text-ltblue { color: var(--ltmid) !important;}
  .text-red { color: var(--dkmid) !important;}
  .bg-dark { background-color: var(--dark) !important;}
  .bg-light { background-color: var(--light) !important;}
  .bg-black { background-color: var(--dark) !important;}
  .bg-success { background-color: var(--ltmid) !important;}
  .bg-image { background-image: url("../img/light_brick.jpg");}
  .btn-success {
    background-color: white !important;
    border-color: var(--dkmid) !important;
    color: var(--ltmid) !important;
  }
  .btn-success:hover{
    background-color: var(--ltmid) !important;
    border-color: var(--dkmid) !important;
    color: white !important;
  }
  .btn-success2{
    background-color: var(--dark) !important;
    border-color: var(--ltmid) !important;
    color: var(--accent) !important;
  }
  .btn-success2:hover{
    background-color: var(--dark) !important;
    border-color: var(--dkmid) !important;
    color: var(--white) !important;
  }
  .pagination .page-link:hover {
    color: var(--dark);
  }
  .pagination .page-link:hover, .pagination .page-link.active {
    background-color: var(--ltmid);
    color: var(--light);
  }
  .navbar{
    background-color: var(--ltmid);
  }
  .navbar-brand {
    color:white;
  }
  #templatemo_nav_top { 
    min-height: 40px;
  }
  #templatemo_nav_top * { 
    font-size: .9em !important;
  }
  #templatemo_main_nav a { 
    color: var(--light);
  }
  #templatemo_main_nav a:hover { 
    color: var(--dkmid);
  }
  #templatemo_main_nav .navbar .nav-icon { 
    margin-right: 20px;
  }
  #template-mo-zay-hero-carousel { 
    background: #efefef !important;
  }
  .templatemo-accordion a { 
    color: var(--dkmid);
  }
  .templatemo-accordion a:hover { 
    color: var(--ltmid);
  }
  .shop-top-menu a:hover { 
    color: var(--dkmid) !important;
  }
  .product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
  .product-wap .product-color-dot.color-dot-red { background:var(--dkmid);}
  .product-wap .product-color-dot.color-dot-blue { background:var(--ltmid);}
  .product-wap .product-color-dot.color-dot-black { background:var(--dark);}
  .product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
  .product-wap .product-color-dot.color-dot-dkblue { background:var(--dkblue);}
  .card.product-wap .card .product-overlay {
    background: var(--dark);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }
  .card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
  }
  .card.product-wap a { color: var(--dark);}
  #carousel-related-product .slick-slide:focus { outline: none !important;}
  #carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
  }
  .brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
  }
  .brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  #template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: var(--dkblue);
  }
  #template-mo-zay-hero-carousel .carousel-control-next i,
  #template-mo-zay-hero-carousel .carousel-control-prev i {
    color: var(--dkmid) !important;
    font-size: 2.8em !important;
  }
  .tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: var(--dark) !important;
  }
  .services-icon-wap {
    transition: .3s;
  }
  .services-icon-wap:hover, .services-icon-wap:hover i {
    color: var(--light);
  }
  .services-icon-wap:hover {
    background: var(--ltmid);
  }
  .leaflet-control a, .leaflet-control {
    font-size: 10px !important;
  }
  .form-control {
    border: 1px solid var(--light);
    color: var(--accent);
    background-color: var(--dark);
  }
  #tempaltemo_footer a { 
    color: var(--light);
  }
  #tempaltemo_footer a:hover { 
    color: var(--dkmid);
  }
  #tempaltemo_footer ul.footer-link-list li { 
    padding-top: 10px;
  }
  #tempaltemo_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }
  #tempaltemo_footer ul.footer-icons li:hover {
    background-color: var(--light);
    transition: .5s;
  }
  #tempaltemo_footer ul.footer-icons li:hover i {
    color: var(--ltmid);
    transition: .5s;
  }
  #tempaltemo_footer .border-light { 
    border-color: var(--ltmid) !important;
  }
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
    font-size: 12px !important;
  }
  .product-wap .product-color-dot {
    width: 6px;
    height: 6px;
  }
  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 { font-size: 1em !important;}
  }
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }
  @media (min-width: 1200px) {}